@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

$primary-font: Poppins;
$handwritten-font: "Dancing Script";
$logo-font: "Alex Brush";
