//imports
@use "./partials/" as *;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $primary-font;
}

//body
body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 10vw;
  nav {
    box-sizing: border-box;
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo,
    .logo-small {
      font-family: $logo-font;
      color: $nav-text-color;
      font-size: 4rem;
      font-weight: 200;
    }
    .logo-small {
      display: none;
    }
    .logo:hover {
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
    }
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      a {
        padding-left: 2rem;
        color: $nav-text-color;
        font-size: 1.7rem;
        font-weight: 500;
      }
      a:hover {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
      }
    }
  }
  header::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;

    margin: -7rem 0 7rem;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/index/contact.jpg);
    background-size: cover;
    background-position: 50% 57%;
    height: 10rem;
    width: 100%;
    p {
      background-color: white;
      padding: 0.2rem 1rem;
      border-radius: 0.2rem;
      font-size: 1.5rem;
      font-weight: 200;
      letter-spacing: 0.2rem;
    }
  }
  main {
    .touch {
      text-align: center;
      margin-bottom: 1rem;
    }

    h1.touch {
      margin-top: 5rem;
      font-size: 5rem;
      font-weight: 200;
      font-style: italic;
    }
    h2.touch {
      font-size: 1.7rem;
    }
    p.touch {
      font-size: 1.3rem;
      margin-bottom: 10rem;
    }

    .details {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: span 1;
        h2 {
          font-size: 1.2rem;
        }
        a {
          margin-bottom: 1rem;
          width: 9rem;
        }
        p {
          margin-bottom: 1rem;
        }
        .last {
          margin-top: -1rem;
        }
      }

      form {
        grid-column: span 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        input {
          height: 2.5rem;
          font-size: 1rem;
          margin-bottom: 0.5rem;
          border: black solid 1px;
        }
        textarea {
          resize: vertical;
          font-size: 1rem;
          margin-bottom: 0.5rem;
          border: black solid 1px;
        }
        .text:focus {
          background-color: $input-focus;
        }
        .button {
          background-color: white;
          border: black solid 1px;
          font-size: 1.5rem;
          font-weight: bold;
          letter-spacing: 0.3rem;
        }
        .button:hover {
          color: white;
          font-size: 1.7rem;
          letter-spacing: 0.5rem;
          background-color: $button-hover;
          box-shadow:
            rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
        }
        .button:focus {
          color: white;
          font-size: 1.7rem;
          letter-spacing: 0.5rem;
          background-color: $button-hover;
          box-shadow:
            rgba(0, 0, 0, 0.19) 0px 10px 20px,
            rgba(0, 0, 0, 0.23) 0px 6px 6px;
          border: black solid 1px;
        }
      }
    }
  }
  footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;

    margin: 2rem 0 0rem;
  }
  footer {
    p {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}

//responsive

@media (max-width: 1377px) {
  body {
    nav {
      .logo {
        display: none;
      }
      .logo-small {
        display: block;
      }
    }
  }
}

@media (max-width: 1191px) {
  body {
    nav {
      ul {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
    nav {
      .logo {
        font-size: 3rem;
      }
      ul {
        a {
          font-size: 1rem;
          padding-left: 1rem;
        }
      }
    }
    header {
      p {
        font-size: 1rem;
        letter-spacing: normal;
      }
    }
    main {
      h1.touch {
        font-size: 3rem;
      }
      h2.touch {
        font-size: 1.5rem;
      }
      p.touch {
        font-size: 1rem;
        margin-bottom: 4rem;
      }

      .details {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 720px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
    nav {
      .logo {
        font-size: 2rem;
      }
      ul {
        a {
          font-size: 1rem;
          padding-left: 1rem;
        }
      }
    }
    header {
      p {
        font-size: 1rem;
        letter-spacing: normal;
        padding: 0;
      }
    }

    footer {
      p {
        font-size: 1rem;
      }
    }
  }
}
