//imports
@use "./partials/" as *;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $primary-font;
}

//body
body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 10vw;
  nav {
    box-sizing: border-box;
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo,
    .logo-small {
      font-family: $logo-font;
      color: $nav-text-color;
      font-size: 4rem;
      font-weight: 200;
    }
    .logo-small {
      display: none;
    }
    .logo:hover {
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
    }
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      a {
        padding-left: 2rem;
        color: $nav-text-color;
        font-size: 1.7rem;
        font-weight: 500;
      }
      a:hover {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
      }
    }
  }
  header::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;

    margin: -7rem 0 7rem;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/index/newsletter.jpg);
    background-size: cover;
    background-position: 50% 53%;
    height: 10rem;
    width: 100%;
    p {
      background-color: white;
      padding: 0.2rem 1rem;
      border-radius: 0.2rem;
      font-size: 1.5rem;
      font-weight: 200;
      letter-spacing: 0.2rem;
    }
  }
  main {
    h1 {
      text-align: center;
      margin: 5rem 0 10rem;
      font-weight: normal;
    }
    form {
      display: flex;
      flex-direction: column;
      margin: 0 auto;

      max-width: 50vw;
    }
    input {
      margin: 0.8rem 0;
      border: black solid 2px;
    }
    .text {
      height: 3rem;
      font-size: 2.5rem;
    }
    .text:focus {
      background-color: $input-focus;
    }
    .button {
      height: 5rem;
      width: 15rem;
      margin: 0 auto;
      background-color: white;
      border: black solid 2px;
      font-size: 2rem;
    }
    .button:hover {
      color: white;
      font-size: 2.5rem;
      background-color: $button-hover;
      box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    .button:focus {
      color: white;
      font-size: 2.5rem;
      background-color: $button-hover;
      box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }
    label {
      font-size: 1rem;
    }
  }
  footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;

    margin: 2rem 0 0rem;
  }
  footer {
    p {
      font-size: 1.5rem;
      text-align: center;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }
}
@media (max-width: 1377px) {
  body {
    nav {
      .logo {
        display: none;
      }
      .logo-small {
        display: block;
      }
    }
  }
}

@media (max-width: 1191px) {
  body {
    nav {
      ul {
        a {
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media (max-width: 960px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
    nav {
      .logo {
        font-size: 3rem;
      }
      ul {
        a {
          font-size: 1rem;
          padding-left: 1rem;
        }
      }
    }
    header {
      p {
        font-size: 1rem;
        letter-spacing: normal;
      }
    }
    main {
      h1 {
        font-size: 1.5rem;
      }
      .text {
        height: 2rem;
        font-size: 1rem;
      }
      .button {
        height: 4rem;
        width: 10rem;
        font-size: 1.5rem;
        margin: 3rem auto;
      }
      .button:hover {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 720px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
    nav {
      .logo {
        font-size: 2rem;
      }
      ul {
        a {
          font-size: 1rem;
          padding-left: 1rem;
        }
      }
    }
    header {
      p {
        font-size: 1rem;
        letter-spacing: normal;
        padding: 0;
      }
    }

    footer {
      p {
        font-size: 1rem;
      }
    }
  }
}
