@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Poppins;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 10vw;
}
body nav {
  box-sizing: border-box;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body nav .logo {
  color: #272829;
  font-size: 4rem;
  font-weight: 200;
}
body nav .logo:hover {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
}
body nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
body nav ul a {
  padding-left: 2rem;
  color: #272829;
  font-size: 1.7rem;
  font-weight: 500;
}
body nav ul a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/index/newsletter.jpg);
  background-size: cover;
  background-position: 50% 53%;
  height: 10rem;
  width: 100%;
}
body header p {
  background-color: white;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}
body main h1 {
  text-align: center;
  margin: 5rem 0 10rem;
  font-weight: normal;
}
body main form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 50vw;
}
body main input {
  margin: 0.8rem 0;
  border: black solid 2px;
}
body main .text {
  height: 3rem;
  font-size: 2.5rem;
}
body main .text:focus {
  background-color: #eadefd;
}
body main .button {
  height: 5rem;
  width: 15rem;
  margin: 0 auto;
  background-color: white;
  border: black solid 2px;
  font-size: 2rem;
}
body main .button:hover {
  color: white;
  font-size: 2.5rem;
  background-color: #8338ec;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
body main label {
  font-size: 1rem;
}
body footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 2rem 0 0rem;
}
body footer p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 960px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
  }
  body nav .logo {
    font-size: 3rem;
  }
  body nav ul a {
    font-size: 1rem;
    padding-left: 1rem;
  }
  body header p {
    font-size: 1rem;
    letter-spacing: normal;
  }
  body main h1 {
    font-size: 1.5rem;
  }
  body main .text {
    height: 2rem;
    font-size: 1rem;
  }
  body main .button {
    height: 4rem;
    width: 10rem;
    font-size: 1.5rem;
    margin: 3rem auto;
  }
  body main .button:hover {
    font-size: 1.8rem;
  }
}
@media (max-width: 720px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
  }
  body nav .logo {
    font-size: 2rem;
  }
  body nav ul a {
    font-size: 1rem;
    padding-left: 1rem;
  }
  body header p {
    font-size: 1rem;
    letter-spacing: normal;
    padding: 0;
  }
  body footer p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=newsletter.css.map */