@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Poppins;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 10vw;
}
body nav {
  box-sizing: border-box;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body nav .logo,
body nav .logo-small {
  font-family: "Alex Brush";
  color: #272829;
  font-size: 4rem;
  font-weight: 200;
}
body nav .logo-small {
  display: none;
}
body nav .logo:hover {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
}
body nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
body nav ul a {
  padding-left: 2rem;
  color: #272829;
  font-size: 1.7rem;
  font-weight: 500;
}
body nav ul a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
body header::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  margin: -7rem 0 7rem;
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/index/header.jpg);
  background-size: cover;
  background-position: 50% 57%;
  height: 10rem;
  width: 100%;
}
body header p {
  background-color: white;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}
body h1 {
  text-align: center;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 5rem;
}
body main h3 {
  font-size: 2rem;
}
body main p {
  font-size: 1rem;
}
body main h2 {
  font-style: italic;
  text-align: left;
  font-weight: 200;
  font-size: 3rem;
  margin: 7rem auto 2rem;
}
body main .h2ro {
  margin-top: 3rem;
}
body main h3 {
  font-weight: 400;
}
body main .romania {
  max-width: 100%;
  max-height: 1500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
  overflow: hidden;
}
body main .romania .img1 {
  height: 100%;
  width: 100%;
  grid-column: span 8;
  grid-row: span 3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}
body main .romania .div2 {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  grid-column: span 4;
  grid-row: span 2;
  border: black solid 1px;
}
body main .romania .img3 {
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 1;
}
body main .romania .img4 {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: span 4;
  grid-row: span 3;
}
body main .romania .div5 {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
  border: black solid 1px;
}
body main .romania .img6 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
}
body main .romania .img7 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 20%;
     object-position: 50% 20%;
  height: 100%;
  width: 100%;
  grid-column: span 8;
  grid-row: span 3;
}
body main .romania .img8 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 38% 50%;
     object-position: 38% 50%;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
}
body main .slovakia {
  max-width: 100%;
  max-height: 1500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
}
body main .slovakia .img1 {
  height: 100%;
  width: 100%;
  grid-column: span 8;
  grid-row: span 3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}
body main .slovakia .div2 {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  grid-column: span 4;
  grid-row: span 2;
  border: black solid 1px;
}
body main .slovakia .img3 {
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 1;
  -o-object-fit: 30% 50%;
     object-fit: 30% 50%;
}
body main .slovakia .img4 {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: span 4;
  grid-row: span 3;
}
body main .slovakia .div5 {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
  border: black solid 1px;
}
body main .slovakia .img6 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
}
body main .slovakia .img7 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: 100%;
  width: 100%;
  grid-column: span 8;
  grid-row: span 3;
}
body main .slovakia .img8 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
}
body main .azores {
  max-width: 100%;
  max-height: 1500px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  gap: 1rem;
}
body main .azores .img1 {
  height: 100%;
  width: 100%;
  grid-column: span 8;
  grid-row: span 3;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 40%;
     object-position: 50% 40%;
}
body main .azores .div2 {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  grid-column: span 4;
  grid-row: span 2;
  border: black solid 1px;
}
body main .azores .img3 {
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 1;
}
body main .azores .img4 {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  grid-column: span 4;
  grid-row: span 3;
}
body main .azores .div5 {
  box-sizing: border-box;
  padding: 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
  border: black solid 1px;
}
body main .azores .img6 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
}
body main .azores .img7 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
  height: 100%;
  width: 100%;
  grid-column: span 8;
  grid-row: span 3;
}
body main .azores .img8 {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  grid-column: span 4;
  grid-row: span 3;
}
body footer::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 2rem 0 0rem;
}
body footer p {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 1.5rem;
}

@media (max-width: 1377px) {
  body nav .logo {
    display: none;
  }
  body nav .logo-small {
    display: block;
  }
}
@media (max-width: 1191px) {
  body nav ul a {
    font-size: 1.2rem;
  }
}
@media (max-width: 960px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
  }
  body nav .logo {
    font-size: 3rem;
  }
  body nav ul a {
    font-size: 1rem;
    padding-left: 1rem;
  }
  body header p {
    font-size: 1rem;
    letter-spacing: normal;
  }
  body main h2 {
    font-size: 2rem;
    margin: 3rem auto 1rem;
  }
  body main h3 {
    font-size: 1.5rem;
  }
  body main p {
    font-size: 1rem;
    letter-spacing: normal;
  }
  body main .romania {
    max-width: 100%;
    max-height: 3000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
  }
  body main .romania .img1 {
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  body main .romania .div2 {
    box-sizing: border-box;
    padding: 1rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img3 {
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img4 {
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .div5 {
    box-sizing: border-box;
    padding: 1rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    width: 100%;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img6 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img7 {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img8 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia {
    max-width: 100%;
    max-height: 3000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
  }
  body main .slovakia .img1 {
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  body main .slovakia .div2 {
    box-sizing: border-box;
    padding: 1rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img3 {
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img4 {
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .div5 {
    box-sizing: border-box;
    padding: 1rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    width: 100%;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img6 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img7 {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img8 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .azores {
    max-width: 100%;
    max-height: 3000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
  }
  body main .azores .img1 {
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  body main .azores .div2 {
    box-sizing: border-box;
    padding: 1rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .azores .img3 {
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .azores .img4 {
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .azores .div5 {
    box-sizing: border-box;
    padding: 1rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    width: 100%;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .azores .img6 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .azores .img7 {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .azores .img8 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 20rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body footer p {
    font-size: 1.5rem;
  }
}
@media (max-width: 720px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
  }
  body nav .logo {
    font-size: 2rem;
  }
  body nav ul a {
    font-size: 1rem;
    padding-left: 1rem;
  }
  body header p {
    font-size: 1rem;
    letter-spacing: normal;
    padding: 0;
  }
  body main h2 {
    font-size: 2rem;
    margin: 3rem auto 1rem;
  }
  body main h3 {
    font-size: 1.5rem;
  }
  body main p {
    font-size: 1rem;
    letter-spacing: normal;
  }
  body main .romania {
    max-width: 100%;
    max-height: 3000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
  }
  body main .romania .img1 {
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  body main .romania .div2 {
    box-sizing: border-box;
    padding: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img3 {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img4 {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .div5 {
    box-sizing: border-box;
    padding: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img6 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img7 {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .romania .img8 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia {
    max-width: 100%;
    max-height: 3000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
  }
  body main .slovakia .img1 {
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  body main .slovakia .div2 {
    box-sizing: border-box;
    padding: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img3 {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img4 {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .div5 {
    box-sizing: border-box;
    padding: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img6 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img7 {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img8 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia {
    max-width: 100%;
    max-height: 3000px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 1rem;
  }
  body main .slovakia .img1 {
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 60%;
       object-position: 50% 60%;
  }
  body main .slovakia .div2 {
    box-sizing: border-box;
    padding: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img3 {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img4 {
    height: 15rem;
    -o-object-fit: cover;
       object-fit: cover;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .div5 {
    box-sizing: border-box;
    padding: 1rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img6 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img7 {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 20%;
       object-position: 50% 20%;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body main .slovakia .img8 {
    -o-object-fit: cover;
       object-fit: cover;
    height: 15rem;
    grid-column: span 12;
    grid-row: span 1;
  }
  body footer p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */