@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Poppins;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 10vw;
}
body nav {
  box-sizing: border-box;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body nav .logo {
  color: #272829;
  font-size: 4rem;
  font-weight: 200;
}
body nav .logo:hover {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
}
body nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
body nav ul a {
  padding-left: 2rem;
  color: #272829;
  font-size: 1.7rem;
  font-weight: 500;
}
body nav ul a:hover {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
body header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/index/travels.jpg);
  background-size: cover;
  background-position: 50% 57%;
  height: 10rem;
  width: 100%;
}
body header p {
  background-color: white;
  padding: 0.2rem 1rem;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
}
body main h1 {
  margin: 1rem 0 1rem;
  font-family: "Dancing Script";
  font-size: 3rem;
  font-weight: bold;
}
body main p {
  font-size: 1.1rem;
}
body main .farewell {
  font-family: "Dancing Script";
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}
body main hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  padding: 0;
}
body main .madeira {
  margin-bottom: 10rem;
}
body main .madeira h2 {
  font-size: 2rem;
}
body main .madeira .long {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 70%;
     object-position: 50% 70%;
}
body main .madeira div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
body main .madeira div h3 {
  grid-column: span 4;
}
body main .madeira div img {
  grid-column: span 1;
  width: 100%;
  aspect-ratio: 1/1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .madeira div p {
  grid-column: span 4;
}
body main .edinburgh {
  margin-bottom: 10rem;
}
body main .edinburgh h2 {
  font-size: 2rem;
}
body main .edinburgh .long {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
body main .edinburgh div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
body main .edinburgh div h3 {
  grid-column: span 4;
}
body main .edinburgh div img {
  grid-column: span 1;
  width: 100%;
  aspect-ratio: 1/1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .edinburgh div p {
  grid-column: span 4;
}
body main .edinburgh div .img4 {
  -o-object-position: 100% 10%;
     object-position: 100% 10%;
}
body main .malaga {
  margin-bottom: 10rem;
}
body main .malaga h2 {
  font-size: 2rem;
}
body main .malaga .long {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}
body main .malaga div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
body main .malaga div h3 {
  grid-column: span 4;
}
body main .malaga div img {
  grid-column: span 1;
  width: 100%;
  aspect-ratio: 1/1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .malaga div p {
  grid-column: span 4;
}
body main .malaga div .img4 {
  -o-object-position: 100% 10%;
     object-position: 100% 10%;
}
body main .amsterdam {
  margin-bottom: 10rem;
}
body main .amsterdam h2 {
  font-size: 2rem;
}
body main .amsterdam .long {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
body main .amsterdam div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
body main .amsterdam div h3 {
  grid-column: span 4;
}
body main .amsterdam div img {
  grid-column: span 1;
  width: 100%;
  aspect-ratio: 1/1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .amsterdam div p {
  grid-column: span 4;
}
body main .amsterdam div .img4 {
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}
body main .bruxelles {
  margin-bottom: 10rem;
}
body main .bruxelles h2 {
  font-size: 2rem;
}
body main .bruxelles .long {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 97%;
     object-position: 50% 97%;
}
body main .bruxelles div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}
body main .bruxelles div h3 {
  grid-column: span 4;
}
body main .bruxelles div img {
  grid-column: span 1;
  width: 100%;
  aspect-ratio: 1/1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .bruxelles div p {
  grid-column: span 4;
}
body main .bruxelles div .img4 {
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}
body footer p {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -8rem;
  margin-bottom: 2rem;
}/*# sourceMappingURL=travels.css.map */