//imports
@use "./partials/" as *;
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $primary-font;
}

//body
body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0 10vw;
  nav {
    box-sizing: border-box;
    padding: 3rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .logo {
      color: $nav-text-color;
      font-size: 4rem;
      font-weight: 200;
    }
    .logo:hover {
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.6);
    }
    ul {
      display: flex;
      list-style: none;
      align-items: center;
      a {
        padding-left: 2rem;
        color: $nav-text-color;
        font-size: 1.7rem;
        font-weight: 500;
      }
      a:hover {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
      }
    }
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/index/travels.jpg);
    background-size: cover;
    background-position: 50% 57%;
    height: 10rem;
    width: 100%;
    p {
      background-color: white;
      padding: 0.2rem 1rem;
      border-radius: 0.2rem;
      font-size: 1.5rem;
      font-weight: 200;
      letter-spacing: 0.2rem;
    }
  }
  main {
    h1 {
      margin: 1rem 0 1rem;
      font-family: $handwritten-font;
      font-size: 3rem;
      font-weight: bold;
    }
    p {
      font-size: 1.1rem;
    }
    .farewell {
      font-family: $handwritten-font;
      font-size: 2rem;
      font-weight: bold;
      margin-top: 1rem;
    }

    hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #ccc;
      margin: 2rem 0;
      padding: 0;
    }

    .madeira {
      margin-bottom: 10rem;
      h2 {
        font-size: 2rem;
      }
      .long {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: 50% 70%;
      }
      div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;
        h3 {
          grid-column: span 4;
        }

        img {
          grid-column: span 1;
          width: 100%;
          aspect-ratio: 1 / 1.5;
          object-fit: cover;
          transition: transform 0.5s;
        }
        img:hover {
          transform: scale(1.3);
          box-shadow:
            rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        p {
          grid-column: span 4;
          margin-bottom: 1rem;
        }
      }
    }
    .edinburgh {
      margin-bottom: 10rem;
      h2 {
        font-size: 2rem;
      }
      .long {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: 50% 60%;
      }
      div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;

        h3 {
          grid-column: span 4;
        }

        img {
          grid-column: span 1;
          width: 100%;
          aspect-ratio: 1 / 1.5;
          object-fit: cover;
          transition: transform 0.5s;
        }
        img:hover {
          transform: scale(1.3);
          box-shadow:
            rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        p {
          grid-column: span 4;
          margin-bottom: 1rem;
        }
        .img4 {
          object-position: 100% 10%;
        }
      }
    }
    .malaga {
      margin-bottom: 10rem;
      h2 {
        font-size: 2rem;
      }
      .long {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: 50% 60%;
      }
      div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;

        h3 {
          grid-column: span 4;
        }

        img {
          grid-column: span 1;
          width: 100%;
          aspect-ratio: 1 / 1.5;
          object-fit: cover;
          transition: transform 0.5s;
        }
        img:hover {
          transform: scale(1.3);
          box-shadow:
            rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        p {
          grid-column: span 4;
          margin-bottom: 1rem;
        }
        .img4 {
          object-position: 100% 10%;
        }
      }
    }
    .amsterdam {
      margin-bottom: 10rem;
      h2 {
        font-size: 2rem;
      }
      .long {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: 50% 50%;
      }
      div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;

        h3 {
          grid-column: span 4;
        }

        img {
          grid-column: span 1;
          width: 100%;
          aspect-ratio: 1 / 1.5;
          object-fit: cover;
          transition: transform 0.5s;
        }
        img:hover {
          transform: scale(1.3);
          box-shadow:
            rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        p {
          grid-column: span 4;
          margin-bottom: 1rem;
        }
        .img4 {
          object-position: 50% 10%;
        }
      }
    }
    .bruxelles {
      margin-bottom: 10rem;
      h2 {
        font-size: 2rem;
      }
      .long {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        object-position: 50% 97%;
      }
      div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.5rem;

        h3 {
          grid-column: span 4;
        }

        img {
          grid-column: span 1;
          width: 100%;
          aspect-ratio: 1 / 1.5;
          object-fit: cover;
          transition: transform 0.5s;
        }
        img:hover {
          transform: scale(1.3);
          box-shadow:
            rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
        p {
          grid-column: span 4;
          margin-bottom: 1rem;
        }
        .img4 {
          object-position: 50% 10%;
        }
      }
    }
  }
  footer {
    p {
      font-size: 1.5rem;
      text-align: center;
      margin-top: -8rem;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 960px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
    nav {
      .logo {
        font-size: 3rem;
      }
      ul {
        a {
          font-size: 1rem;
          padding-left: 1rem;
        }
      }
    }
    header {
      p {
        font-size: 1rem;
        letter-spacing: normal;
      }
    }
  }
}

@media (max-width: 720px) {
  body {
    max-width: 100vw;
    margin: 0 5rem;
    nav {
      .logo {
        font-size: 2rem;
      }
      ul {
        a {
          font-size: 1rem;
          padding-left: 1rem;
        }
      }
    }
    header {
      p {
        font-size: 1rem;
        letter-spacing: normal;
        padding: 0;
      }
    }
    main {
      .madeira {
        div {
          img {
            grid-column: span 4;
            height: 20rem;
          }
          img:hover {
            transform: none;
          }
        }
      }
      .edinburgh {
        div {
          img {
            grid-column: span 4;
            height: 20rem;
          }
          img:hover {
            transform: none;
          }
        }
      }
      .malaga {
        div {
          img {
            grid-column: span 4;
            height: 20rem;
          }
          img:hover {
            transform: none;
          }
        }
      }
      .amsterdam {
        div {
          img {
            grid-column: span 4;
            height: 20rem;
          }
          img:hover {
            transform: none;
          }
        }
      }
      .bruxelles {
        div {
          img {
            grid-column: span 4;
            height: 20rem;
          }
          img:hover {
            transform: none;
          }
          .img4 {
            object-position: 50% 60%;
          }
        }
      }
    }
    footer {
      p {
        font-size: 1rem;
      }
    }
  }
}
